<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-white text-2xl font-bold">Blog</a>
    <ul class="flex">
      <li class="mr-4">
        <a href="/taller" class="text-white hover:text-gray-400">Taller</a>
      </li>
      <li class="mr-4">
        <a href="/ps" class="text-white hover:text-gray-400">Práctica supervisada</a>
      </li>
      <li>
        <a href="/tecnologia" class="text-white hover:text-gray-400">Tecnología</a>
      </li>
    </ul>
  </div>
</nav>

