<app-navbar></app-navbar>
<div
  class="main w-full object-cover bg-[url('./assets/images/root-background.jpg')] h-[90.8vh]"
>
  <div
    class="flex flex-col justify-center items-center w-full h-full bg-black bg-opacity-50 font-['Montserrat']"
  >
    <h1 class="text-6xl font-bold text-[#ddd]">Blog de informática</h1>
    <p class="text-xl font-bold text-[#bbb]">Ander Cabrera</p>
  </div>

  <div
    class="flex flex-row justify-center items-center w-full h-[100vh] bg-black bg-opacity-50 font-['Montserrat']"
  >
    <div class="w-1/2 h-full bg-[#111] p-10 flex flex-col justify-center">
      <h1 class="text-6xl font-bold text-[#ddd]">Acerca del blog</h1>
      <br />
      <p class="text-xl font-bold text-[#bbb]">
        Este blog fue creado con el propósito de mostrar todas las tareas
        realizadas relacionadas con la carrera de informática. <br />
      </p>
      <br />
      <p class="text-xl font-bold text-[#bbb]">
        De lado derecho se muestran las tecnologías utilizadas para la
        realización de algunas tareas. Se mostraran las tareas realizadas con
        respecto a las materias de Taller, Práctica supervisada y Tecnología
        durante los ultimos 2 bimestres.
        <br />
      </p>
    </div>
    <div
      class="w-1/2 h-full bg-[url('./assets/images/background-repeated.png')]"
    >
      <div
        class="flex flex-col justify-center items-center w-full h-full bg-black bg-opacity-85"
      >
        <div class="flex flex-row justify-center items-end w-full h-full mb-5">
          <div class="flex flex-col justify-end items-center w-1/3 h-full">
            <i class="fab fa-html5 text-9xl text-[#f06529]"></i>
            <p class="text-[#f06529]">HTML</p>
          </div>
          <div class="flex flex-col justify-end items-center w-1/3 h-full">
            <i class="fab fa-css3 text-9xl text-[#2965f1]"></i>
            <p class="text-[#2965f1]">CSS</p>
          </div>
          <div class="flex flex-col justify-end items-center w-1/3 h-full">
            <i class="fab fa-sass text-9xl text-[#c69]"></i>
            <p class="text-[#c69]">Sass</p>
          </div>
          <div class="flex flex-col justify-end items-center w-1/3 h-full">
            <i class="fab fa-js text-9xl text-[#f0db4f]"></i>
            <p class="text-[#f0db4f]">JavaScript</p>
          </div>
        </div>

        <div
          class="flex flex-row justify-center items-center w-full h-full mt-5"
        >
          <div class="flex flex-col justify-start items-center w-1/4 h-full">
            <i class="fas fa-database text-9xl text-[#13aa52]"></i>
            <p class="text-[#13aa52]">MongoDB</p>
          </div>
          <div class="flex flex-col justify-start items-center w-1/4 h-full">
            <i class="fas fa-server text-9xl text-[#ccc]"></i>
            <p class="text-[#fff]">Express.js</p>
          </div>
          <div class="flex flex-col justify-start items-center w-1/4 h-full">
            <i class="fab fa-react text-9xl text-[#61dafb]"></i>
            <p class="text-[#61dafb]">React</p>
          </div>
          <div class="flex flex-col justify-start items-center w-1/4 h-full">
            <i class="fab fa-node-js text-9xl text-[#68a063]"></i>
            <p class="text-[#68a063]">Node.js</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-row justify-center items-center w-full h-[100vh] font-['Montserrat']"
  >
    <div class="w-1/3 h-full flex flex-col justify-center p-10 bg-[#111]">
      <div
        class="w-full h-full bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img src="../../../assets/images/taller.jpg" alt="" />
        <div class="p-5">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Taller
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Acá se mostrarán las tareas realizadas en la materia de taller
            durante los últimos 2 bimestres. La mayor parte de las tareas
            estan relacionadas directamente con la programación.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Ver tareas
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="w-1/3 h-full flex flex-col justify-center p-10 bg-[#111]">
      <div
        class="w-full h-full bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img class="" src="../../../assets/images/practica.jpg" alt="" />
        <div class="p-5">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Práctica supervisada
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Acá se mostrarán las tareas realizadas en la materia de práctica
            supervisada durante los últimos 2 bimestres.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Ver tareas
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="w-1/3 h-full flex flex-col justify-center p-10 bg-[#111]">
      <div
        class="w-full h-full bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
      >
        <img class="" src="../../../assets/images/tecno.jpg" alt="" />
        <div class="p-5">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Tecnología
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Acá se mostrarán las tareas realizadas en la materia de tecnología
            durante los últimos 2 bimestres. Algunas tareas son pequeños ejercicios
            de programación y otras son trabajos de investigación.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Ver tareas
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
